[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
drf-yasg = {path = "."}
django-cors-headers = ">=2.1.0"
django-filter = ">=1.1.0"
djangorestframework-camel-case = ">=0.2.0"
djangorestframework-recursive = ">=0.1.2"
dj-database-url = ">=0.4.2"
user-agents = ">=1.1.0"
django-oauth-toolkit = "<1.2.0,>=1.1.0"
psycopg2 = ">=2.7.3"
gunicorn = ">=19.7.1"
whitenoise = ">=3.3.1"
Pillow = ">=4.3.0"
Pygments = ">=2.2.0"
django-oauth2-provider = "*"
django-filters = "*"
requirements-txt = "*"

[requires]
python_version = "3.7"
